# Core Dependencies
pandas                 # Data manipulation and analysis
numpy                  # Numerical computations
sqlalchemy             # Database integration

# Queue Dependencies
pika                   # RabbitMQ client library
boto3                  # AWS SDK for SQS integration

# Logging and Utilities
python-dotenv          # For managing environment variables